@import url(1Default.css);
/*#B03063*/

:root {
  --theMain-Color: #59F6E3;
  --custom-color-accent2: #ed5fcb;
  --custom-color-accent-light: var(--theMain-Color); /*main accent*/
  --custom-color-accent-dark: var(--theMain-Color);           
  --custom-color-slider1: var(--theMain-Color);
  --custom-color-slider2: var(--theMain-Color);
  --tsv-font-subtitle-color: #ED5FCB !important; /* for spacer etc...*/
  --tsv-chat-link-color: #d800ff !important; /* Link in chat */
  --tsv-highlight-color: #59F6E3 !important;
}

/*Image Background   ~Wargamer-Senpai*/
.ts-server-tree-item-root {
    background-image:url(Jinx_small.png) !important;
    background-position:center !important;
    background-repeat: no-repeat !important;
    background-size: 95% !important;

}
/*Image Background at Dashboard and Settings*/
.tsv-settings-categories {
  background-image:url(),
                   url(Jinx.png) !important;


    background-position: 50% 142%, -4% 100% !important;
    background-repeat: no-repeat !important;
    background-size: 50%, 23% 50% !important;
}

/*Remove image from chat Background*/
.ts-chat-container .ts-background-hexes-container {
    background: url();
}
/*Changes color of channel names*/
.ts-server-tree-channel-info{
  color: #59F6E3
}

/* SIDEBAR HEADER */

.tsv-highlight.tsv-header {
  background: linear-gradient(to bottom, #d800ff 0%, #59F6E3 100%, #59F6E3 100%);
}

.tsv-highlight.tsv-header:before {
  background: linear-gradient(to bottom, rgb(0 0 0 / 30%) 90%, #59F6E3 100%);
}